@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');
:root{
    /* ### Theme 1 */

/* #### Backgrounds */

--Very-dark-desaturated-blue-main-background: hsl(222, 26%, 31%);
--Very-dark-desaturated-blue-toggle-background-keypad-background: hsl(223, 31%, 20%);
--Very-dark-desaturated-blue-screen-background: hsl(224, 36%, 15%);

/* #### Keys */
--Desaturated-dark-blue-key-background: hsl(225, 21%, 49%);
--Desaturated-dark-blue-key-shadow: hsl(224, 28%, 35%);

--Red-key-background-toggle: hsl(6, 63%, 50%);
--Dark-red-key-shadow: hsl(6, 70%, 34%);

--Light-grayish-orange-key-background: hsl(30, 25%, 89%);
--Grayish-orange-key-shadow: hsl(28, 16%, 65%);

/* #### Text */

--Very-dark-grayish-blue: hsl(221, 14%, 31%);
--White: rgb(255, 255, 255);

/* ### Theme 2 */

/* #### Backgrounds */

--Light-gray-main-background: hsl(0, 0%, 90%);
--Grayish-red-toggle-background-keypad-background: hsl(0, 5%, 81%);
--Very-light-gray-screen-background: hsl(0, 0%, 93%);

/* #### Keys */

--Dark-moderate-cyan-key-background: hsl(185, 42%, 37%);
--Very-dark-cyan-key-shadow: hsl(185, 58%, 25%);

--Orange-key-background-toggle: hsl(25, 98%, 40%);
--Dark-orange-key-shadow: hsl(25, 99%, 27%);

--Light-grayish-yellow-key-background: hsl(45, 7%, 89%);
--Dark-grayish-orange-key-shadow: hsl(35, 11%, 61%);

/* #### Text */

--Very-dark-grayish-yellow: hsl(60, 10%, 19%);
--White-text: hsl(0, 0, 100%);



/* ### Theme 3 */

/* #### Backgrounds */

--dark-violet-main-background: hsl(268, 75%, 9%);
--Very-dark-violet-toggle-background-keypad-background-screen-background: hsl(268, 71%, 12%);

/* #### Keys */

--Dark-violet-key-background: hsl(281, 89%, 26%);
--Vivid-magenta-key-shadow: hsl(285, 91%, 52%);

--Pure-cyan-key-background-toggle: hsl(176, 100%, 44%);
--Soft-cyan-key-shadow: hsl(177, 92%, 70%);

--Very-dark-violet-key-background: hsl(268, 47%, 21%);
--Dark-magenta-key-shadow: hsl(290, 70%, 36%);

/* #### Text */

--Light-yellow: hsl(52, 100%, 62%);
--Very-dark-blue: hsl(198, 20%, 13%);
--White-text-dark: hsl(0, 0, 100%);





}





*{
    margin: 0;
    padding: 0;
}


@media(min-width: 375px){
    body{
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        height: 100vh;
        font-family: 'League Spartan', sans-serif;
        font-weight: 700;
        background-color: var(--Very-dark-desaturated-blue-main-background);
    }
    .ContainerSwitch{
        display: flex;
        flex-direction: row;
        align-items: center;
        align-self: center;
        justify-content: space-between;
        width: 300px;
    }
    .ContainerSwitch h1{
        font-size: 2rem;
        color:var(--White);
    }
    .ContainerSwitch .themes{
        display: flex;
        align-self: center;
        align-items: center;
    }

    .themes .THEME{
        margin: 0 0.9rem;
        color:var(--White);
    }
    .input-theme .boxNumbers{
        position: relative;
        top: -22px;
    }
    .boxNumbers span{
        color: var(--White);
        margin: 0rem 0.3rem;
    }
    .ContainerSwitch .themes .input-theme{
        border-radius: 10px;
        align-items: center;
        display: flex;
        padding: 0.3rem;
        justify-content: center;
        background-color: var(--Very-dark-desaturated-blue-toggle-background-keypad-background);
    }
    .input-theme .containerInputs{
        position: absolute;
    }
    .input-theme input[type="radio"]{
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    border:none;
    position: relative;
    width: 20px;
    -webkit-appearance: none;
    }
    input[type="radio"]:after {
        border-radius: 25px;
        content: '';
        display: block;
        height: 10px;
        left: 4px;
        position: relative;
        top: 7px;
        width: 10px;
    }
    input[type="radio"]:checked:after {
        background-color: var(--Red-key-background-toggle);
    }
    .Calculator {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: end;
    }
    .Calculator .calculator-screen{
        text-align: end;
        font-size: 2rem;
        color: white;
        width: 300px;
        font-family: 'League Spartan', sans-serif;
        padding: 1rem 0.6rem;
        margin: 1rem;
        border-radius: 5px;
        border: none;
        background-color:var(--Very-dark-desaturated-blue-screen-background);
    }
    .calculator-keys{
        display: grid;
        border-radius: 5px;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto auto auto auto auto;
        padding:0.5rem;
        background-color: var(--Very-dark-desaturated-blue-toggle-background-keypad-background);
    }
    .calculator-keys button{
        font-size: 2rem;
        font-weight: 700;
        color: var(--Very-dark-grayish-blue);
        margin: 0.5rem;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        box-shadow: 0px 2px 0px var(--Grayish-orange-key-shadow);
    }
    .calculator-keys button:active{
    transition: 0.2s;
    transform: scale(1.1);
    }
    .calculator-keys .Delete{
        font-size: 1rem;
        font-weight: 700;
        color:var(--White);
        border: none;
        background-color: var(--Desaturated-dark-blue-key-background);
        box-shadow: 0px 2px 0px var(--Desaturated-dark-blue-key-shadow);
    }
    .calculator-keys .Reset{
        font-size: 1rem;
        font-weight: 700;
        color:var(--White);
        border: none;
        text-transform: uppercase;
        grid-row: 5/6;
        width: 140px;
        padding: 1rem;
        grid-column: 1/3;
        background-color: var(--Desaturated-dark-blue-key-background);
        box-shadow: 0px 2px 0px var(--Desaturated-dark-blue-key-shadow);
    }
    .calculator-keys .equal-sign{
        font-size: 1rem;
        font-weight: 700;
        color:var(--White);
        border: none;
        text-transform: uppercase;
        grid-row: 5/5;
        width: 140px;
        padding: 1rem;
        grid-column: 5/3;
        background-color: var(--Red-key-background-toggle);
        box-shadow: 0px 2px 0px var(--Dark-red-key-shadow);
    }

    .Light-Theme, .Dark-Theme, .Default-Theme{
        transition: 0.7s;
    }


    /* Light-Theme */
    body.Light-Theme{
        background-color: hsl(0, 0%, 90%);
    }

    .Light-Theme .themes .THEME{
        color: var(--White-text);
    }
    .Light-Theme .boxNumbers span{
        color: var(--White-text);
    }
    .Light-Theme .ContainerSwitch h1{
        color: var(--White-text);
    }
    .Light-Theme .themes .input-theme{
        background-color: var(--Grayish-red-toggle-background-keypad-background);
    }
    .Light-Theme input[type="radio"]:checked:after{
        background-color:var(--Orange-key-background-toggle);
    }
    .Light-Theme .calculator-keys button{
        background-color: var(--Light-grayish-yellow-key-background);
        box-shadow: 0px 2px 0px var(--Dark-grayish-orange-key-shadow);
    }

    .Light-Theme .calculator-keys .Delete{
        background-color: var(--Dark-moderate-cyan-key-background);
        box-shadow: 0px 2px 0px var(--Very-dark-cyan-key-shadow);
    }
    .Light-Theme .calculator-keys .Reset{
        background-color: var(--Dark-moderate-cyan-key-background);
        box-shadow: 0px 2px 0px var(--Very-dark-cyan-key-shadow);
    }
    .Light-Theme .calculator-keys .equal-sign{
        background-color: var(--Orange-key-background-toggle);
        box-shadow: 0px 2px 0px var(--Dark-orange-key-shadow);
    }
    .Light-Theme .calculator-screen{
        color: var(--Very-dark-grayish-yellow);
        background-color: var(--Very-light-gray-screen-background);
    }
    .Light-Theme .calculator-keys{
        background-color: var(--Grayish-red-toggle-background-keypad-background);
    }





    /* Dark-Theme */
    body.Dark-Theme{
        background-color: var(--dark-violet-main-background)
    }
    
    .Dark-Theme .themes .THEME{
        color: var(--Light-yellow);
    }
    .Dark-Theme .boxNumbers span{
        color: var(--Light-yellow);
    }
    .Dark-Theme .ContainerSwitch h1{
        color: var(--Light-yellow);
    }
    .Dark-Theme .Calculator .calculator-screen{
        color: var(--Light-yellow);
        background: var(--Very-dark-violet-toggle-background-keypad-background-screen-background);
    }
    .Dark-Theme .Calculator .calculator-keys {
        background-color: var(--Very-dark-violet-toggle-background-keypad-background-screen-background);
    }
    .Dark-Theme .themes .input-theme{
        background-color: var(--Very-dark-violet-toggle-background-keypad-background-screen-background);
    }
    .Dark-Theme input[type="radio"]:checked:after{
        background-color:var(--Pure-cyan-key-background-toggle);
    }
    .Dark-Theme .calculator-keys button{
        color: var(--Light-yellow);
        background-color: var(--Dark-violet-key-background);
        box-shadow: 0px 2px 0px var(--Vivid-magenta-key-shadow);
    }

    .Dark-Theme .calculator-keys .Delete{
        background-color: var(--Dark-magenta-key-shadow);
        box-shadow: 0px 2px 0px var(--Dark-magenta-key-shadow);
        color: white;
    }
    .Dark-Theme .calculator-keys .Reset{
        color: white;
        background-color: var(--Dark-magenta-key-shadow);
        box-shadow: 0px 2px 0px var(--Very-dark-violet-key-background);
    }
    .Dark-Theme .calculator-keys .equal-sign{
        background-color: var(--Pure-cyan-key-background-toggle);
        box-shadow: 0px 2px 0px var(--Soft-cyan-key-shadow);
    }
    .Dark-Theme .calculator-screen{
        color: var(--Very-dark-grayish-yellow);
        background-color: var(--Very-light-gray-screen-background);
    }
    .Dark-Theme .calculator-keys{
        background-color: var(--Grayish-red-toggle-background-keypad-background);
    }



    /* Default-Theme */
    body.Default-Theme{
        background-color: var(--Very-dark-desaturated-blue-main-background);
    }
}